[submodule "addons/GDebugPanelGodot"]
	path = addons/GDebugPanelGodot
	url = https://github.com/Guillemsc/GDebugPanelGodot.git
[submodule "addons/TerraBrush"]
	path = addons/TerraBrush
	url = https://github.com/jasonswearingen/TerraBrush
[submodule "addons/godot_debug_draw_3d"]
	path = addons/godot_debug_draw_3d
	url = https://github.com/DmitriySalnikov/godot_debug_draw_3d
[submodule "addons/GodotEx"]
	path = addons/GodotEx
	url = https://github.com/altamkp/GodotEx
[submodule "addons/godot_input_helper"]
	path = addons/godot_input_helper
	url = https://github.com/nathanhoad/godot_input_helper
[submodule "addons/phantom-camera"]
	path = addons/phantom-camera
	url = https://github.com/ramokz/phantom-camera
