[submodule "addons/GDebugPanelGodot"]
	path = addons/GDebugPanelGodot
	url = https://github.com/Guillemsc/GDebugPanelGodot.git
[submodule "addons/TerraBrush"]
	path = addons/TerraBrush
	url = https://github.com/spimort/TerraBrush
